html {font-size: 16px;}

body {
    background-color: transparent; /** #f5f8fa;  #faeec9 **/
    background-image: -webkit-linear-gradient(#fff,hsla(0,0%,100%,0));
    font-family: 'PT Sans',sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {

    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    margin: 0.414em 0 0.5em;
    font-weight: 500;
    letter-spacing: -.0083333333em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #212121;

}


h1, .h1 {
    margin-top: 0;
    font-size: 67px;
}


h2, .h2 {font-size: 51px;}

h3, .h3 {font-size: 38px;}

h4, .h4 {
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -.0083333333em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #212121;
}



small, .font_small {font-size: 14px;}

h5, .h5{
    font-size: 21px;
}

h6, .h6{
    font-size: 16px;
}

p, ol, ul {
    margin-bottom: 1.3em;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #424242;
    letter-spacing: normal;
}

p.lead{
    font-size: 21px;
}

p.lead:first-letter{
    font-size: 38px;
    font-weight: bold;
}

@media only screen and (max-width: 767px){
    h1, .h1{
        font-size: 38px;
    }
    h2, .h2{
        font-size: 30px;
    }
    h3, .h3{
        font-size: 24px;
    }
    h4, .h4{
        font-size: 20px;
    }
    h5, .h5{
        font-size: 18px;
    }
    h6, .h6{
        font-size: 16px;
    }
    p, ol ul{
        font-size: 16px;
    }
    p.lead:first-letter{
        font-size: 24px;
    }
}

.justify{
    text-align: justify;
}

img{
    max-width: 100%;
}

.bold{
    font-weight: bold;
}

.left{
    position: absolute;
    left: 0px;
}

.right{
    position: absolute;
    right: 0px;
}

.shadow{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.full-height{
    height: 100%;
}

.center-v{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center-h{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center-v-h{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clear-fix{
    clear: both;
}

._404{
    background: white;
    padding: 30px;
    height: -webkit-calc(100vh - 70px);
    height: calc(100vh - 140px);
}

a{
    transition: 0.3s;
    color: #3790D7;
}

a:hover{
    cursor: pointer;
    transition: 0.3s;
    text-decoration: underline;
}

a:focus{
    outline: none;
    text-decoration: none;
}

.read-more{
    color: #6f7c82;
}

.read-more:hover{
    color: cadetblue;
    text-decoration: none;
}

#map{
    min-height: 400px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn{
    font-family: PT Sans, sans-serif;
    overflow: hidden;
    font-size: 16px;
}

.btn-view-profile {
    background: #002147;
    color: white;
    padding: 10px 30px;
    border-radius: 2px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    box-shadow: 0 0 1px transparent;
    line-height: 1;
    vertical-align: middle;
    overflow: hidden;
    margin-bottom: 5px;
}

.btn-new {
    /*background: #002147;*/
    border: 1px solid #002147;
    color: #002147;
    padding: 10px 30px;
    border-radius: 2px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    box-shadow: 0 0 1px transparent;
    line-height: 1;
    vertical-align: middle;
    overflow: hidden;
    margin-bottom: 5px;
}

.btn-view-profile:hover
.btn-view-profile:focus,
.btn-view-profile:active{
    background: white;
    color: #002147;
    border: 1px solid #002147;
    transition: 0.3s;
}

.btn-new:hover,
.btn-new:focus,
.btn-new:active{
    background: #002147;
    color: #002147;
    border: 1px solid #002147;
    transition: 0.3s;
}

.btn_new_active{
    background: #002147;
    color: white;
}

.btn-new::before,
.btn-view-profile::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    overflow: hidden;
}

.btn-new:hover::before,
.btn-new:focus::before,
.btn-new:active::before,
.btn-view-profile:hover::before,
.btn-view-profile:focus::before,
.btn-view-profile:active::before{
    webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.btn-call-to-action{
    background: transparent;
    color: white;
    padding: 15px 35px;
    border-radius: 2px;
    border: 2px solid white;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    box-shadow: 0 0 1px transparent;
    line-height: 1;
    vertical-align: middle;
}

.btn-call-to-action:hover{
    background: transparent;
    color: cadetblue;
    border: 2px solid white;
}

.btn-call-to-action::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-call-to-action:hover::before{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.font-weight-regular{
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #424242;
    letter-spacing: normal;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-50{
    margin-bottom: 50px;
}

/** =============================== Navigation ====================== **/

.navbar-default{
    font-size: 12px;
    background-image: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: #fff;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-default .navbar-brand{
    height: auto;
    margin-top: 10px;
}

.navbar-default .navbar-brand img{
    max-width: 80px;
}

.navbar-default .navbar-toggle {
    margin-top: 25px;
    padding: 15px;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    width: 35px;
    margin-bottom: 5px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default img.profile-image{
    max-width: 50px;
    border-radius: 50%;
}

.navbar-default .navbar-nav{
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-default .navbar-nav>li>a{
    color: #6f7c82;
    padding: 20px 15px;
}

.navbar-default .navbar-nav>li.profile-image>a {
    padding: 15px;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #ccc;
}

.navbar-default .navbar-nav>li:not(.profile-image){
    /*border-top: 3px solid #cccccc;*/
    border-bottom: 3px solid #cccccc;
}

.navbar-default .navbar-nav>li.active{
    border-color: #ccc;
}

.navbar-default .navbar-nav>li.active>a{
    color: #A79D96;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.navbar-default .navbar-nav>li.active>a:hover{
    background-color: transparent;
    color: #A79D96;
}

.navbar-default .navbar-nav>li.active>a:focus{
    color: #A79D96;
}

.navbar-default .navbar-nav>li.dropdown.open>a:hover{
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #A79D96;
}

.navbar-default .navbar-nav>li.dropdown.open>a.dropdown-toggle.disabled{
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #A79D96;
}

@media all and (min-width: 767px){
    .navbar-default .navbar-nav ul.dropdown-menu.submenu {
        position: absolute;
        left: -100%;
        top: 0%;
        transform: none;
        right: 100%;
        box-shadow: none;
        margin-top: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }
}

@media all and (max-width: 767px) {
    .navbar-default .navbar-nav>li{
        text-align: center;
    }

    .navbar-default .navbar-nav>li.dropdown.open ul.dropdown-menu{
        text-align: center;
        margin-left: 50%;
    }
}


.main-navigation-home {
    background-color: #002147;
    padding: 0px;
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
}

.navbar-default.main-navigation-home .navbar-nav>li>a {
    color: white;
    font-size: 16px;
    background-image: none;
    background-color: transparent;
}

.navbar-default.main-navigation-home .navbar-nav>li>a:hover,
.navbar-default.main-navigation-home .navbar-nav>li>a:focus{
    background-color: transparent;
    background-image: none;
}

.navbar-default.main-navigation-home .navbar-nav>li>a:hover{
    color: #A79D96;
}

.navbar-default.main-navigation-home .navbar-nav>li>a:hover{
    color: #A79D96;
}

.navbar-default.main-navigation-home .navbar-nav>li {
    border: none;
}

.navbar-default.main-navigation-home .navbar-nav>li.profile-image a.dropdown-toggle{
    padding: 0px;
}

.navbar-default.main-navigation-home .navbar-brand img {
    max-width: 50px;
    display: inline-block;
}

.main-navigation-home .dropdown-menu{
    background-color: #fff;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    border-radius: 0px;
    border: none;
    padding: 0px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
}

.main-navigation-home .dropdown-menu::before {
    /* display: block; */
    width: 20px;
    height: 20px;
    background: #fff;
    position: relative;
    left: 50%;
    top: 0px;
    z-index: 20;
    transform: translateY(-50%) rotate(45deg);
}

.main-navigation-home .dropdown-menu li a{
    padding: 15px;
    color: #576366;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
}

.main-navigation-home .dropdown-menu li a:hover{
    color: #3790D7;
    background-color: transparent;
    background-image: none;
}

.navbar-dark{
    background-color: white;
    /*opacity: 0.3;*/
    transition: 0.5s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.navbar-dark li a{
    color: white;
}

.navbar-default.main-navigation-home.navbar-dark li a{
    color: #333;
}

.navbar-light{
    background-color: transparent;
    transition: 0.3s;
}

.navbar-fixed-top .navbar-collapse{
    max-height: 400px;
}


/** ----------------------------------------------------------------- **/

/** =============================== Dashboard ======================= **/

.dashboard{
    background-color: #fff;
    padding: 150px 20px;
    position: relative;
}

.dashboard textarea.form-control {
    height: 150px;
}

/** ----------------------------------------------------------------- **/

/** ========================== Dashboard Profile ==================== **/

.dashboard .profile img.profile-pic{
    display: block;
    max-width: 200px;
}

/** ----------------------------------------------------------------- **/

/** =============================== Sidebar ========================= **/

.sidebar{
    padding: 0px;
}

.dashboard .sidebar{
    margin-top: 0.414em;
    padding-right: 15px;
    padding-left: 15px;
}

.dashboard .sidebar ul li {
    text-align: center;
}

.dashboard .sidebar ul li a {
    display: block;
    padding: 10px 30px;
    color: #002147;
    background-color: transparent;
    margin-bottom: 5px;
    font-size: 18px;
    border: 1px solid #002147;
    border-radius: 2px;
    position: relative;
    z-index: 1;
}

.dashboard .sidebar ul li a:hover{
    text-decoration: none;
    color: #fff;
}

.dashboard .sidebar ul li a:before{
    content: ' ';
    background-color: #002147;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transform-origin: 50% 0;
    z-index: -1;
}

.dashboard .sidebar ul li a:hover:before{
    transform: scaleY(1);
}

.dashboard .sidebar ul li a.active{
    color: #fff;
    background-color: #002147;
}

.dashboard .sidebar ul li a.active:hover{
    color: #002147;
    background-color: transparent;
}

.dashboard .sidebar ul li a.active::before{
    background-color: #fff;
}

.dashboard .sidebar ul{
    list-style: none;
    padding-left: 0px;
}

.sidebar-fixed{
    position: fixed;
}

.frontend .sidebar .sidebar-blocks{
    margin-bottom: 10px;
    background-color: #fafafa;
    padding: 20px;
}

/** ------------------------------------------------------------------ **/

/** ========================= Dashboard Members ====================== **/

.dashboard .members{
    padding-bottom: 20px;
}

.dashboard .members img.profile-pic{
    display: block;
    max-width: 200px;
    width: 200px;
}

.dashboard .members.list ul{
    list-style-type: none;
    padding-left: 0px;
}

.dashboard .members.list ul li{
    position: relative;
    border-bottom: 1px solid #cccccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dashboard .members.list ul li span {
    padding: 6px 12px;
    display: inline-block;
}

/** ------------------------------------------------------------------ **/

/** ======================= Dashboard Research Field ================= **/

.dashboard .research-field.edit img{
    display: block;
    width: 100%;
    margin: 5px 0px;
}

.dashboard .research-field ul{
    list-style: none;
    padding-left: 0px;
}

.dashboard .research-field ul li{
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

/** ------------------------------------------------------------------ **/

/** ======================= Dashboard Designations =================== **/

.dashboard .designations ul{
    list-style-type: none;
    padding-left: 0px;
}

.dashboard .designations ul li{
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

/** ------------------------------------------------------------------ **/

/** ====================== Dashboard People ========================== **/

.dashboard .people ul {
    list-style-type: none;
    padding-left: 0px;
}

.dashboard .people ul li {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/** ------------------------------------------------------------------ **/

/** ===================== Dashboard Blog ============================= **/

.dashboard .blogs.list ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 30px;
}

.dashboard .blogs.list ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/** ------------------------------------------------------------------ **/

/** ====================== Dashboard News ============================ **/

.dashboard .news.list ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 30px;
}

.dashboard .news.list ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/** ------------------------------------------------------------------ **/

/** ======================= Dashboard Resource ======================= **/

/*.dashboard .resources.list .btn-new{*/
/*display: block;*/
/*width: auto;*/
/*}*/

.dashboard .resources.list ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 30px;
}

.dashboard .resources.list ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/** ------------------------------------------------------------------ **/

/** ======================= Dashboard Publication ==================== **/

.dashboard .publications.list ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 30px;
}

.dashboard .publications.list ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}


/** ------------------------------------------------------------------ **/

/** ======================= Bootstrap Datetime Picker ================ **/

.bootstrap-datetimepicker-widget{
    padding: 10px;
    width: 300px;
    height: 300px;
}
.bootstrap-datetimepicker-widget>ul {
    padding-left: 0px;
}

.bootstrap-datetimepicker-widget .picker-switch {
    padding: 5px 0px;
    border-radius: 3px;
}

.bootstrap-datetimepicker-widget .picker-switch:hover {
    background-color: #003fb0;
    background-image: linear-gradient(0deg, transparent 30%, rgba(255, 255, 255, 0.001) 0%), linear-gradient(0deg, transparent 100%, rgba(255, 255, 255, 0.001) 55%), linear-gradient(to top, #003fb0, rgba(255, 255, 255, 0.45));
}

.bootstrap-datetimepicker-widget .picker-switch:hover a {
    color: white;
}


/** ------------------------------------------------------------------ **/

/** ======================= Homepage Editor ========================== **/

.dashboard .homepage-editor .preview-wrapper img {
    height: 150px;
}

.backend .homepage-editor .preview{
    overflow: hidden;
    margin-bottom: 10px;
}

.backend .homepage-editor img {
    height: 180px;
    width: auto;
    max-width: none;
    margin-bottom: 10px;
}

/** ------------------------------------------------------------------ **/

/** ======================= Lab Facilities =========================== **/

.dashboard .facilities img{
    display: block;
    max-height: 300px;
    margin: 0px 0px 10px 0px;
}

.dashboard .facilities ul{
    list-style: none;
    padding-left: 0px;
}

.dashboard .facilities ul li{
    padding: 5px 0px;
    border-bottom: 1px solid #cccccc;
}

/** ------------------------------------------------------------------ **/

/** ======================= Frontend ================================================== **/

.content-wrapper{
    background-color: #FFFFFF;
    padding: 80px 0px;
}

/** ============================= People ============================================== **/

.faculty.archive .faculty-member{
    margin-bottom: 30px;
}

.faculty.archive .faculty-member img {
    max-width: 150px;
}

.faculty.archive .faculty-name {
    color: #6f7c82;
}

.faculty.archive .faculty-name:hover {
    text-decoration: none;
    color: cadetblue;
}

.members.archive .faculty-member{
    margin-bottom: 30px;
}

.members.archive .faculty-member img {
    max-width: 150px;
}

.members.archive .faculty-name {
    color: #6f7c82;
}

.members.archive .faculty-name:hover {
    text-decoration: none;
    color: cadetblue;
}

.members.single .publication a:hover {
    text-decoration: none;
}

.admin.archive .faculty-member{
    margin-bottom: 30px;
}

.admin.archive .faculty-member img {
    max-width: 150px;
}

.admin.archive .faculty-name {
    color: #6f7c82;
}

.admin.archive .faculty-name:hover {
    text-decoration: none;
    color: cadetblue;
}

.people.single .faculty-member img{
    width: 100%;
}

.people.single .faculty-member .bio{
    margin-top: 20px;
    margin-bottom: 30px;
}

.people.single .faculty-member .bio-title{
    margin-top: 40px;
}

.people.single .faculty-member p{
    margin-bottom: 0px;
}

/** ----------------------------------------------------------------------------------- **/

/** ================================ Publication Archive ============================== **/

.frontend.publication.archive .publication-block .read-more{
    color: cadetblue;
}

.frontend.publication.archive .publication-block .read-more:hover{
    color: #6f7c82;
    text-decoration: none;
}

.frontend.publication.archive .publication-block a.publication-title {
    color: inherit;
}

.frontend.publication.archive .publication-block a.publication-title:hover{
    text-decoration: none;
    color: cadetblue;
}

.frontend .infographics {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 16px;
}

.frontend .infographics a{
    color: inherit;
}

.frontend .infographics a:hover{
    color: cadetblue;
    text-decoration: none;
}

.frontend .infographics span{
    padding: 10px 20px;
}

/** ----------------------------------------------------------------------------------- **/

.frontend.single .post{
    padding-bottom: 50px;
}

/** ======================= Resource Archive ============================= **/

.resource.archive .post .featured-image {
    width: 100%;
}

.resource.archive .post .title{
    color: #6f7c82;
}

.resource.archive .post .title:hover{
    color: cadetblue;
    text-decoration: none;
}

.resource.archive .post .title:focus{
    color: cadetblue;
    text-decoration: none;
    outline: none;
}

/** ------------------------------------------------------------------ **/

/** ======================= Resource Single ============================== **/

.frontend.page.research .header {
    padding-top: 20px;
    padding-bottom: 50px;
}

.frontend.resource.single .attachment-list .attachment{
    min-height: 350px;
}

.frontend.resource.single .attachment-list .preview {
    margin-top: 10px;
    width: 100%;
    max-height: 150px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

a.btn.btn-download {
    width: 100%;
    background: cadetblue;
    color: white;
}


.resource.single .featured-image {
    width: 100%;
    margin-bottom: 30px;
}

.frontend.resource.single .preview audio{
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

.frontend.resource.single .preview img.sound-icon {
    position: absolute;
    width: 100%;
    height: 100%;
}

/** ------------------------------------------------------------------ **/

/** ======================= News Archive ============================= **/

.news.archive .post .featured-image {
    width: 100%;
}

.news.archive .post .title{
    color: #6f7c82;
}

.news.archive .post .title:hover{
    color: cadetblue;
    text-decoration: none;
}

.news.archive .post .title:focus{
    color: cadetblue;
    text-decoration: none;
    outline: none;
}

/** ------------------------------------------------------------------ **/

/** ======================= News Single ============================== **/

.news.single .featured-image {
    width: 100%;
    margin-bottom: 30px;
}

/** ------------------------------------------------------------------ **/

/** ======================= Events Archive ============================= **/

.events.archive .post .featured-image {
    width: 100%;
}

.events.archive .post .title{
    color: #6f7c82;
}

.events.archive .post .title:hover{
    color: cadetblue;
    text-decoration: none;
}

.events.archive .post .title:focus{
    color: cadetblue;
    text-decoration: none;
    outline: none;
}

/** ------------------------------------------------------------------ **/

/** ======================= Events Single ============================== **/

.events.single .featured-image {
    width: 100%;
    margin-bottom: 30px;
}

/** ------------------------------------------------------------------ **/

/** ======================= Blog Archive ============================= **/

.blog.archive .post .featured-image {
    width: 100%;
}

.blog.archive .post .title{
    color: #6f7c82;
}

.blog.archive .post .title:hover{
    color: cadetblue;
    text-decoration: none;
}

.blog.archive .post .title:focus{
    color: cadetblue;
    text-decoration: none;
    outline: none;
}

/** ------------------------------------------------------------------ **/

/** ======================= Blog Single ============================== **/

.blog.single .featured-image {
    width: 100%;
    margin-bottom: 30px;
}

/** ------------------------------------------------------------------ **/

/** ============================== Research Page ===================== **/

.frontend.research.archive .research-block {
    padding: 80px 20px;
}

.frontend.research.archive .research-block .preview {
    max-height: 300px;
    overflow: hidden;
}

.frontend.research.archive .research-block:nth-child(2n) {
    background: #eef3f3;
}

.frontend.research.archive .content-wrapper{
    padding: 0px 15px;
}

/*.frontend.research .research-blocks-wrapper .col-md-6 {*/
/*padding: 0px;*/
/*}*/

.frontend.research .research-blocks-wrapper .research-block .text{
    padding: 15px 30px;
}

.frontend.research.single .members-list-wrapper{
    margin-top: 50px;
}

.frontend.research.single .single-member-wrapper{
    margin-bottom: 20px;
}

/** ------------------------------------------------------------------ **/

/** ============================== Footer ============================ **/

.footer-widget-area{
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #f2f2f2;
    font-weight: 100;
    letter-spacing: 1px;
    background-color: #002147;
}

.footer-widget-area h5{
    font-weight: 300;
    color: #f2f2f2;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    letter-spacing: 0;
    text-decoration: inherit;
    text-transform: inherit;
    color: #ffffff;
}

.footer-widget-area h4{
    color: #f2f2f2;
}

.footer-widget-area a{
    color: #f2f2f2;
}

.footer-widget-area a:hover{
    color: #3790d7;
}

.footer {
    min-height: 75px;
    background: #000E1E;
    color: white;
    position: relative;
    padding-top: 25px;
    font-weight: 300;
    letter-spacing: 1px;
}

.footer a{    
    color: #ffffff;
    text-decoration: underline;
}

.footer a:hover{
    color: #3790d7;
    text-decoration: none;
}

.footer-widget-area ul.social-icons {
    font-size: 40px;
    list-style: none;
    padding-left: 0px;
}

.footer-widget-area ul.social-icons li {
    display: inline-block;
    margin-right: 15px;
}

/** ------------------------------------------------------------------ **/

/** ============================= Sidebar ============================ **/

.frontend .sidebar .sidebar-blocks{
    margin-bottom: 50px;
}

.frontend .sidebar .sidebar-blocks article {
    margin-bottom: 25px;
}

/** ------------------------------------------------------------------ **/

/** ============================ Homepage Slider ===================== **/

.header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 767px){
    .header{
        height: 75vh;
    }
}

.frontend.home .down-arrow {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
}

.frontend.home .down-arrow a {
    font-size: 27px;
    color: #fff;
    background-color: transparent;
    padding: 15px 10px;
    /*border: 1px solid #fff;*/
    /*border-radius: 25px;*/
    position: relative;
}

.frontend.home .down-arrow a::before{
    content: "\2193";
    position: absolute;
    right: 10%;
    animation-name: downarrow;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.frontend.home .header-slider{
    z-index: 0;
}

.frontend.home .header-slider .item{
    height: 100vh;
    width: 100%;
}

@media only screen and (max-width: 767px){
    .frontend.home .header-slider .item{
        height: 75vh;
    }
}

.frontend.home .header-slider .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 50px;
}

.frontend.home .header-slider .owl-prev {
    display: inline-block;
    width: 50%;
    position: relative;
    height: 100%;
}

.frontend.home .header-slider .owl-next {
    width: 50%;
    display: inline-block;
    position: relative;
    height: 100%;
    text-align: right;
}

.frontend.home .header-slider .owl-nav i {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 25px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: none;
    transition-duration: 0.7s;
}

.frontend.home .header-slider .owl-nav .owl-next i {
    right: 0px;
}

.frontend.home .header-slider .owl-nav .owl-prev i{
    left: 0px;
}

.frontend.home .header-slider .owl-nav .owl-next:hover i {
    display: block;
}

.frontend.home .header-slider .owl-nav .owl-prev:hover i {
    display: block;
}

.frontend.home .facilities-wrapper{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

.frontend.home .facilities-wrapper img {
    width: 100%;
    margin-bottom: 30px;
}

.frontend.home .facilities-wrapper .col-md-8 img{
    height: 512px;
}

.frontend.home .facilities-wrapper .col-md-4 img{
    height: 241px;
}

@media screen and (max-width: 992px){
    .frontend.home .facilities-wrapper .col-md-8 img{
        height: auto;
    }

    .frontend.home .facilities-wrapper .col-md-4 img{
        height: auto;
    }
}

@-webkit-keyframes downarrow {
    0%{
        transform: translateY(0);
    }
    25% {
        transform: translateY(10%);
    }
    50% {
        transform: translateY(20%);
    }
    75% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
    }
}

body:not(.home) .header{
    height: 50vh;
}

body.backend .header {
    height: auto;
}

.header .overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
}

.header .inner-header{
    color: #576366;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    /*letter-spacing: 1px;*/
}

.frontend.home .header .inner-header{
    color: #ffffff;
    bottom: 0px;
    transform: none;
    left: 0%;
    width: 100%;
    bottom: 0px;
    padding-bottom: 25px;
}

.frontend.home .header .inner-header h4 {
    margin-right: 20px;
}

.frontend.home .header .inner-header img {
    max-width: 100px;
    margin-right: 20px;
}

.frontend.home .header h1 {
    font-size: 50px;
    margin-bottom: 0px;
    color: white;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
    text-decoration: inherit;
    text-transform: inherit;
    margin: 0;
}

@media only screen and (max-width: 767px){
    .frontend.home .header h1{
        font-size: 30px;
    }

    .frontend.home .header h1.header-title-1{
        font-size: 24px;
    }
}

.frontend.home .header .inner-header .collaboration-logo-wrapper{
    /*margin-top: 75px;*/
    margin-bottom: 30px;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

.frontend.home .header .overlay{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 75%,rgba(0,0,0,0.1) 85%,rgba(0,0,0,0.75) 99%,rgba(0,0,0,0.3) 86%,rgba(0,0,0,0.95) 90%);
}

.frontend.home .research-field-list {
    padding: 40px 0px;
}

.frontend.home .facilities h2{
    margin-bottom: 40px;
}

.frontend.home .facilities .image-wrapper{
    max-height: 400px;
    overflow: hidden;
    padding-right: 5px;
    padding-left:  5px;
    margin-bottom: 10px;
}

.frontend.home .facilities .col-md-2.image-wrapper img{
    height: 195px;
}

.header .inner-header p{
    margin-bottom: 50px;
}

body:not(.home) .header .inner-header{
    color: #576366;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homepage-carousel .slides li {
    min-height: 400px;
    height: 100vh;
}

.section{
    padding: 50px 0px;
}

@media only screen and (max-width: 767px){
    .section{
        padding: 25px 0px;
    }
}

.frontend.home .partners a h5:hover {
    color: #3790D7;
}

.frontend.about-technext .work{
    padding: 20px 0px;
}

.frontend.about-technext .work:nth-child(2n){
    background-color: #eef3f3;
}

.frontend.about-technext .work ul {
    list-style: none;
    padding-left: 0px;
}

.frontend.about-technext .work ul li::before {
    content: '\f105';
    font-family: 'FontAwesome';
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

@media only screen and (max-width: 767px){
    .frontend.home .research-areas h4{
        font-size: 21px;
    }

    .footer p{
        text-align: center;
    }
}

/** ------------------------------------------------------------------ **/

.frontend.login .panel {
    border-radius: 0px;
    box-shadow: none;
    padding: 25px;
}

/** -------------------------------------------------------------------------------- **/

@media all and (max-width: 767px) {
    .hide-sm{
        display: none;
    }
}


@media only screen and (max-width: 991px) and (min-width: 768px){
    .main-navigation-home{
        text-align: center;
    }

    .navbar-header{
        width: 100%;
        text-align: center !important;
        float: none !important;
    }

    .navbar-brand{
        width: 100%;
        text-align: center;
    }

    .nav.navbar-nav{
        width: 100%;
        text-align: center;
        float: none !important;
    }

    .navbar-nav>li{
        float: none;
        display: inline-block;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: inset 0 0 0 transparent,none;
}

.pro_name{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    padding-top: 20px;
}
.pro_designation{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #424242;
    letter-spacing: normal;
}

.profile-pic-img{
   height: 120px;width: auto;display: block;margin: 0 auto;
}

.head_title{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 40px;
}

.allFiles{
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px 0px;
    margin-left: 15px;
}
.sinFile{
    width: 100px;
    float: left;
    background: #dedede;
    padding: 15px 0px;
}
.download_p{
    margin:0px;
    padding:0px;
}
.remove_p{
    margin: 0px;
    padding-top: 15px;
}

.front_title{
    border-left: 3px solid #002147;
    padding-left: 15px;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: inherit;
    text-transform: inherit;
    color: #212121;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;

}

.front_title_2{
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -.0083333333em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #212121;
    margin-bottom: 10px;
}

.research-block p{
    text-align: center;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #424242;
    letter-spacing: normal;
}

.img_style{
    height: 200px;
    display: flex;
    margin: 0 auto;
}
.box-dsgn-thead{    
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 0px;
    background: #d5e4ff;
}
.box-dsgn-thead p{    
    margin: 0px;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -.0083333333em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #212121;
}

.box-dsgn{    
    background: #e8f0fe;
    margin-bottom: 10px;
    color: black;
    padding: 22px 15px;
    border-radius: 5px;

}

.box-dsgn p{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;
     color: #000000; 
    letter-spacing: normal;

}


.footer-widget-area p{
    margin: 0;
    padding: 2px 0px;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #ffffff;
    letter-spacing: normal;
}
.footer p{
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;
}

.publication_title{
    color: black;
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    text-decoration: inherit;
    text-transform: inherit;
    /* color: #424242; */
    letter-spacing: normal;
}
.box-dsgn h5{
    margin: 0;
}
.publication_image{
    color: #068efb;
}
.publication_view{
    background: #ffffff;
    border: 1px solid #0b5bad;
    padding: 5px 15px;
    color: #000000;
    border-radius: 25px;
    font-size: 12px;
}

.board-card{
    width: 100%;
    height: 320px;
    float: left;
    webkit-box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07) !important;
    box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07) !important;
    padding: 10px 10px;
    margin-bottom: 20px;

}

.img-box{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 50%;
    background: white;
    border: 3px solid #b5b5b5;
    overflow: hidden;
}
.img-box img{    
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* border-radius: 50%; */
    display: flex;
}

.name_p{
    color: black;
    font-weight: 500;
    color: #212121;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    letter-spacing: normal;
    margin-bottom: 10px;
}
.designation_p{
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #424242;
    letter-spacing: normal;
    margin: 0;
    padding-bottom: 6px;
}
.designation_p_2{
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #424242;
    letter-spacing: normal;
    margin: 0;
    padding-bottom: 6px;
}
.designation_p:last-child{
    margin-top: 15px !important;
}
.designation_p span{
    background: #ffffff;
    border: 1px solid #0b5bad;
    padding: 5px 15px;
    color: #000000;
    border-radius: 25px;
    font-size: 12px;
}
.designation_p a{
    text-decoration: none;
    color: black;
}
.shadow-box{
    background: #f7f7f7;
    padding: 30px;
    box-shadow: 2px 2px 7px 2px #d6d7d8;
}

.members-list-wrapper{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 40px;
}

.pub_p{
    margin: 0;
    padding: 5px 0px;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #424242;
    letter-spacing: normal;
}

.pub_span{
    color: #000000;
    font-weight: 700;
}

.journal_details{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 20px;
    padding-top: 30px;
    border-top: 1px solid white;
}
.m-b-150{margin-top: 150px;}
.m-b-120{margin-top: 120px;}
.m-b-100{margin-top: 100px;}
.m-b-80{margin-top: 80px;}
.m-b-50{margin-top: 50px;}
.m-b-40{margin-top: 40px;}
.m-b-30{margin-top: 30px;}
.m-b-20{margin-top: 20px;}
.m-b-10{margin-top: 10px;}


#benifit-section{
    background: #f5f7fa;
    padding: 50px 0px;
}
#benifit-section2{
    background: #f5f7fa;
    padding: 50px 0px;
}

.title_read_p{
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -.0083333333em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #212121;
    margin: 0;
}
.title_read_p_main{
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
    /* line-height: 1.2; */
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: inherit;
    text-transform: inherit;
    color: #212121;
    margin-top: 10px;
}
.title_read_p_main2{
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.8rem;
    /* line-height: 1.2; */
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: inherit;
    text-transform: inherit;
    color: #212121;
    margin-top: 20px;
}
.read_p{
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: .03125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: #424242;
    letter-spacing: normal;
}
.read_more{
    color: #616161;
    font-weight: 700;
    text-decoration: underline;
}